# Dichotomous Key

A Dichotomous key is a tool to allow you to identify organisms such as animals, plants, and insects.
You will usually have a question with two options in which your answer will help determine which organism you are trying to identify.

In [1]:
# Import modules that contain functions we need
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

## Importing the Data

In [2]:
# Our data is the dichotomous key table and is defined as the word 'data'.
# data is set equal to the .csv file that is read by pandas.
# The .csv file must be in the same disrectory as the program.
key = pd.read_csv("Dichotomous_key.csv")

# This sets Organism as the index instead of numbers
#key = data.set_index("Organism")

## Animal Choices

In [3]:
# Animal options in Dichotomous Key
# Displays all row titles as an array
key.Organism

0             badger
1                bat
2               bear
3             beaver
4                bee
5        black widow
6             bobcat
7          butterfly
8                cat
9            chicken
10        chimpanzee
11          chipmunk
12         clownfish
13               cow
14         crocodile
15         death cap
16              deer
17               dog
18           dolphin
19         dragonfly
20              duck
21             eagle
22          flamingo
23              flea
24               fly
25               fox
26           giraffe
27             goose
28           hamster
29      hippopotamus
           ...
45               pig
46         pine tree
47        poison ivy
48         porcupine
49            rabbit
50           raccoon
51       rattlesnake
52         red panda
53        rhinoceros
54        salamander
55          scorpion
56              seal
57             shark
58             skunk
59             sloth
60             snail
61          squirrel
62         tree frog
63             tucan
64            turkey
65            turtle
66           vulture
67              wasp
68            weasel
69             whale
70    white mushroom
71              wolf
72        woodpecker
73              worm
74             yeast
Name: Organism, dtype: object

## Conditionals

These are the conditions in which ceratin answers are categorized for certain organisms.
Each question/condition has a yes/no or preset answer with three options at most such as cold/warm blooded/NA

In [4]:
# Conditions/Questions for finding the correct animal
# Displays all column titles as an array
key.columns

Index(['Organism', 'fur', 'marine', 'terrestrial', 'kingdom', 'feathers',
       'scales', 'fins', 'carnivore', 'herbivore', 'omnivore', 'vertebrate',
       'eggs', 'live young', 'photosynthesis', 'multicellular', 'wings',
       '2 legs', '4 or more legs', 'no legs', 'autotroph', 'poisonous',
       'cold blooded', 'Eukaryotic', 'Prokaryotic', 'decomposer', 'hooves',
       'long tail', 'domesticated'],
      dtype='object')

## Condition Query

Change the conditionals in the code below to change what organism(s) are displayed.

**Capitalization matters so be careful. You also must put in only allowed answers in every condition or the code will break!**

In [7]:
# This conditional allows us to query a column and if the data within that cell matches,
# it will display the corresponding animal(s)
key[(key['fur'] == 'no') & \
    (key['marine'] == 'yes') & \
    (key['terrestrial'] == 'no') & \
    (key['kingdom'] == 'animalia') & \
    (key['feathers'] == 'no') & \
    (key['scales'] == 'no') & \
    (key['fins'] == 'yes') & \
    (key['carnivore'] == 'no') & \
    (key['herbivore'] == 'no') & \
    (key['omnivore'] == 'yes') & \
    (key['vertebrate'] == 'yes') & \
    (key['eggs'] == 'no') & \
    (key['live young'] == 'yes') & \
    (key['photosynthesis'] == 'no') & \
    (key['multicellular'] == 'yes') & \
    (key['wings'] == 'no') & \
    (key['2 legs'] == 'no') & \
    (key['4 or more legs'] == 'no') & \
    (key['no legs'] == 'yes') & \
    (key['autotroph'] == 'no') & \
    (key['poisonous'] == 'no') & \
    (key['cold blooded'] == 'no') & \
    (key['Eukaryotic'] == 'yes') & \
    (key['Prokaryotic'] == 'no') & \
    (key['decomposer'] == 'no') & \
    (key['hooves'] == 'no') & \
    (key['long tail'] == 'yes') & \
    (key['domesticated'] == 'no')]

,Organism,fur,marine,terrestrial,kingdom,feathers,scales,fins,carnivore,herbivore,...,no legs,autotroph,poisonous,cold blooded,Eukaryotic,Prokaryotic,decomposer,hooves,long tail,domesticated
69,whale,no,yes,no,animalia,no,no,yes,no,no,...,yes,no,no,no,yes,no,no,no,yes,no

### Questions/Activities to Consider

1.) Does a dolphin have scales or fins?

2.) Do Dragonfly's have vertebrates?

3.) What conditional statements would show you a cow? What would show you a squirrel?

4.) Do porcupines have live young or lay eggs?

5.) How many legs does a penguin have?

6.) What are some examples of marine animals? Terrestrial animals? 

7.) Find a few poisonous animals by changing the conditional statements.

8.) Are any animals unicellular? 

9.) What kingdom are animals classified under? What are some examples of plantae? What are some examples of fungi?

# Still to do
Add names and major for the students who developed this notebook. You can double-click on this cell to edit the text.